@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html,
body,
md-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
}

.space-between {
  justify-content: space-between;
}